.Appa {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  width: 100%;
}
.Appa1 {
  width: 90%;

  display: flex;
  justify-content: center !important;
  flex-direction: column;
}
.header {
  width: 100%;
  margin: 0;
}

.Slide {
  width: 100%;
  margin: 0;
}

.contentT {
  display: flex;
  width: 100%;
  float: right !important;
  justify-content: center;
  margin-left: 100px;
}
.contengttTw {
  display: flex;
  width: 90%;
  margin-top: 68px;
  flex-direction: column;
  margin-left: 170px;
}
.Content-width-ode,
.CsssOsNsTENTW {
  width: 100%;
}
.Content-width {
  width: 65%;
}

.Sider-bar-width {
  width: 23%;

  float: right !important; /* Đẩy Siderbar về bên phải */
}
.CONTENTW {
  margin-top: 68px;
}
.COsNsTENTW {
  margin-top: 20px !important;
}
