// text-module.scss

.text-main {
  text-transform: uppercase;
  padding: 0 20px 0 0;
  font-weight: 350 !important;
  color: #2daaed;
  font-size: 3rem;
  line-height: 1.5px;
  margin-bottom: 25px !important;
}
