.CONTENT1-img {
  width: 70px;
  height: 70px;
}
.CONTENT1-lisst {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.Mvhot-main-tex2222 {
  padding: 3px;
  font-size: 1.2rem;
  background-color: #35393b;
  display: inline;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
}
.CONTENT1 {
  margin-top: 10px;
}
.CONTENT1d {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.Mvhot-main-tex2223 {
  padding: 3px;
  font-size: 1.2rem;
  background-color: #a22114;
  color: white;
  border-radius: 5px;
  margin-left: 8px;
}
.Mvhot-main-tex2222e {
  font-size: 1.2rem;
}
.CONTENT1-lisst-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  border-top: 1px solid #35393b;
}

.Mvhot-main-tex222324 {
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.Mvhot-main-tex2222e {
  margin-right: 5px;
}
.Mvhot-massin-tsex2222eimdg {
  width: 300px !important;
  height: 300px !important;
  margin-top: 10px;
}

.Mvhot-main-stsex22222eimg {
}
.Mvhot-main-tex2222ew {
  margin-top: 40px;
}
.Mvhot-massdin-tsex2222eimg {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.Mvhot-massdin-tssex2222eimg {
  display: flex;
  margin-top: 10px;
}
.Mvhot-massin-tsex2222eimg {
  margin-left: 4px;
}
.Mvhot-massin-tsex2222eimg {
  width: 145px !important;
  height: 145px !important;
}
