.Update_list_music {
  margin-top: 70px;
}
.Update_list_music {
  display: flex;
  justify-content: center;
  width: 100%;
}
.Update_list_mussssic_item {
  font-size: 2.8rem;
  color: #2daaed;
}
.Updawwtess_aaaaalist_music_item_input {
  display: flex;
  justify-content: flex-end;

  margin-right: 15px;
  margin-top: 6px;
  margin-bottom: 0px;
  color: #333;
  font-size: 14px;
  font-weight: 700;
}
.Updawwtesssdagasgas_aaaaalist_music_item_input {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  p {
    margin: 0;
    padding: 0;
  }
}
.Updawsdfawtesssdagasgas_aassagasaaalist_music_item_input {
  font-size: 1.1rem;
  color: #c3c3c3;
}
.Update_list_aamssssusssssisssssc_item_input {
  display: flex;
  img {
  }
  input {
    margin-left: 30px;
  }
}
.Update_list_music_item_input {
  width: 600px;
  height: 35px;
  outline: none;
}
table {
  tr {
    td {
      div {
        display: flex;
        align-items: center;
        img {
          width: 80px;
        }
      }
    }
  }
}

.Update_list_musssssic_item_input {
  display: flex;
  flex-direction: column;
  align-items: unset;
}
.Update_list_aamusssssisssssc_item_input {
  font-size: 11px;
}

.ssUpdawssssswtess_aaaaalist_music_item_input {
  width: 250px;
  height: 300px;
  border: 1px solid black;
}
.dddasw {
  margin-left: 20px;
}
.Ussspdawwtess_aaaaalist_music_ssssitem_input {
  width: 500px;
  display: flex;
  justify-content: center;
}
.Ussspdawwtessssssss_aaaaalist_music_ssssitem_input {
  width: 250px;
  display: flex;
  justify-content: flex-start;
}
.Ussspdawwtess_ {
  width: 100%;
  height: 35px;
  background-color: #333;
}
//sort table
.Updfffffawwtess_aaaaalist_music_item_input {
  display: flex;
  justify-content: space-between;

  align-items: flex-end;
  div {
    display: flex;

    height: 40px;
    background-color: #f1f1f1;
    align-items: center;
    justify-content: center;
    input {
      width: 80%;
      outline: none;
      height: 70%;
      border: 1px solid #c7c7c7;
      border-radius: 5px;
    }
    input:focus {
      border: 1px solid #2882bc;
    }
    .Updfffffawwtess_aaaaalist_music_itsssssem_input {
      padding: 5px 10px 5px 10px;
      color: #c3c3c3;
      cursor: pointer;
    }
  }
  ul {
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 300px;
    padding: 0;
    border: 1px solid #c7c7c7;
    overflow-x: hidden;
    overflow-y: scroll;

    li {
      border: 1px solid #c7c7c7;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      p {
        padding-left: 10px;
        margin: 0;
        font-size: 14px;

        font-weight: 650;
        span {
          color: #c7c7c7;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }
}
.Update_btn_list {
  height: 35px !important;
  width: 90px !important;
  margin-left: 20px !important;
  p {
    font-size: 12px;
    font-weight: 600;
  }
}
.Updsdfasdasdasgate_btn_list {
  padding-top: 10px;
  padding-bottom: 10px;
}
.Updsdfasdate_btn_list {
  background-color: #e64e4e;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  p {
    color: white;
    font-size: 1.5rem;
  }
}
.Updsdfasdasdasgate_btn_list {
  td {
    div {
      padding-left: 20px;
    }
  }
}
.Updsdfsdfaddsdate_btn_list {
  margin-right: 10px;
  color: white;
}
